---
layout: default
---
<header>
  <h1>{{ site.title }}</h1>
  <h2>{{ site.description }}</h2>
</header>
{% for post in paginator.posts %}
<article>
        <a href="{{ site.baseurl }}{{ post.url }}">
            <img src="/assets/images/{{ post.maker | replace: " ", "_" }}/{{ post.image }}" width='300' />
        </a>
    <section class='info'>
        <h1>Series name: <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
        <ul>
            <li><strong>maker:</strong> {{ post.maker }}</li>
            <li><strong>color:</strong> {{ post.color }}</li>
            <li><strong>price:</strong> {{ post.price }}</li>
        </ul>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" class='paypal'>
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="RCD8JQQ2ADPWJ">
            <input type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
        </form>
        
    </section>
</article>
{% endfor %}

  <nav class="pagination" role="navigation">
    {% if paginator.next_page %}
      <a class="newer-posts" href="{{ site.baseurl }}/page{{paginator.next_page}}">&larr; Older posts</a>
    {% else %}
      <a class="newer-posts disabled">&larr; Older posts</a>
    {% endif %}
    <span class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.previous_page %}
      {% if paginator.page == 2 %}
        <a class="older-posts" href="{{ site.baseurl }}/">Newer posts &rarr;</a>
      {% else %}
        <a class="older-posts" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer posts &rarr;</a>
      {% endif %}
    {% else %}
      <a class="older-posts disabled">Newer posts &rarr;</a>
    {% endif %}
  </nav>

</main>

{% include footer.html %}
