---
layout: default
---
{% for post in paginator.posts %}
<article class='{{ post.maker | replace: " ","" }} {{ post.title | replace: " ","" }}'>
        <a href="{{ site.baseurl }}{{ post.url }}">
            <img src="/assets/images/{{ post.maker | replace: " ", "_" }}/{{ post.image }}" width='300' />
        </a>
    <section class='info'>
        <h1>Series name: <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
        <ul>
            <li><strong>maker:</strong> {{ post.maker }}</li>
            <li><strong>color:</strong> {{ post.color }}</li>
            <li><strong>price:</strong> {{ post.price }}</li>
        </ul>
        {% include paypal_buy.html %}
    </section>
</article>
{% endfor %}

{% if paginator.total_pages > 1 %}
    <nav class="pagination" role="navigation">
    {% if paginator.next_page %}
      <a class="newer-posts" href="{{ site.baseurl }}/page{{paginator.next_page}}">&larr; next 9</a>
    {% else %}
      <a class="newer-posts disabled">&larr; next 9</a>
    {% endif %}
    <span class="page-number">/ 9s {{ paginator.page }} of {{ paginator.total_pages }} /</span>
    {% if paginator.previous_page %}
      {% if paginator.page == 2 %}
        <a class="older-posts" href="{{ site.baseurl }}/">previous 9 &rarr;</a>
      {% else %}
        <a class="older-posts" href="{{ site.baseurl }}/page{{paginator.previous_page}}">previous 9 &rarr;</a>
      {% endif %}
    {% else %}
      <a class="older-posts disabled">previous 9 &rarr;</a>
    {% endif %}
  </nav>
{% endif %} 
</main>

{% include footer.html %}
