<div id="info" class="lime"><strong> Pay</strong> SOON on this website</div>
<header>
  <h1>RE G U L AR L I G H T ER&reg; EST. APRIL 8TH 2012, FRANCHISE</h1>
  <a class="applepaycom" href="https://www.apple.com/apple-pay/"> Pay
   <strong>SOON on this website</strong></a>
    {% include paypal_donate.html %}
    <a href="{{ site.url }}#end" id="start">
        <img src="{{ site.baseurl }}{{ site.logo }}" width="48" height="48"  alt="{{ site.title }}" />
      </a>
      <p>recently added:
        {% for post in site.posts limit:1 %}
          <a href="{{ post.url }}#content">{{ post.title }}</a>
        {% endfor %}</p>
  <nav>
      <ul>
          {% for my_page in site.pages %}
            {% unless my_page.exclude %}
              {% if my_page.title %}
                <li><a href="{{ my_page.url | prepend: site.baseurl | append: "#content" }}">{{ my_page.title }}</a></li>
              {% endif %}
            {% endunless %}
          {% endfor %}
      </ul>
  </nav>
    <section>
        <h1>{{ site.title }} {{ site.phone }}</h1>
        <h2>{{ site.description }}</h2>
    </section>
    <div id="search-container">
      <input type="text" id="search-input" placeholder="Search for products">
    </div>
</header>

