<p>please don't buy development demo only</p>
<form  action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="business" value="regularlighter@yahoo.com">
<input type="hidden" name="cmd" value="_cart">
<input type="hidden" name="add" value="1">
<input type="hidden" name="item_name" value="{% if post.title == nil %}{{ page.title }}{% endif %}{{ post.title }} {% if post.currency != nil %}{{ post.currency }}{% endif %}{{ page.currency }}">
<input type="hidden" name="quantity" value="1">
<input type="hidden" name="amount" value="{% if post.price != nil %}{{ post.price }}{% endif %}{{ page.price }}">
<input type="hidden" name="no_shipping" value="2">
<input type="hidden" name="currency_code" value="{% if post.currency != nil %}{{ post.currency }}{% endif %}{{ page.currency }}">
<input type="hidden" name="shopping_url" value="{{ site.url }}">
<input type="hidden" name="cancel_return" value="{{ site.url }}">
<input type="hidden" name="return" value="{{ site.url }}/thankyou.html">
<input type="image" name="addtocart" border="0" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_buynowCC_LG.gif" alt="add this item to your shopping cart">
</form>


