<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
  {% include head.html %}
  <body class="{{ page.layout }} {{ page.title | replace: " ","-" | downcase }}">
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0"></script>
    {% include header.html %}
    <section id="content">
      <ul id="results-container"></ul>
     {{ content }}
      </section>
      <a href="{{ site.baseurl }}#start" id="end">
          <img src="{{ site.baseurl }}{{ site.logo }}" width="48" height="48" />
      </a>
      <p>&copy; 2012&ndash;2021 {{ site.time | date: '%m%y%d' | replace: '042029', '42029' | replace: '042030', '42030' }}</p>
      <p>RE G U L AR L I G H T ER® TAX OFFICE ISLANDS DEFAULT LITE</p>
      {% include analytics.html %}
  </body>
</html>
