<!DOCTYPE html>
<html ⚡ lang="en">
  {% include head.html %}
  <body>
    {% include header.html %}

      <main class="content" role="main">
        {% for image in site.static_files %}
            {% if image.path contains 'photos/short_torch' %}
            <amp-img width="600" height="500" layout="responsive" src="{{ site.baseurl }}{{ image.path }}"></amp-img>
            {% endif %}
        {% endfor %}

        {{ content }}
      </main>

    {% include analytics.html %}
  </body>
</html>
