<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        {% include analytics.html %}
    </head>
    <body>
        <section>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
	    		</ul>
			</nav>
			<article>
                {{ content }}
                {% include disqus.html %}
			</article>
            </section>
			<footer>
	    		<ul>
	        		<li><a href="mailto:bartoszwais@googlemail.com">email</a></li>
	        		<li><a href="https://github.com/bartoszwais">github.com/bartoszwais</a></li>
				</ul>
			</footer>
		</body>
	</html>
