---
layout: default
---
<ul id="results-container"></ul>
<article class='{{ page.maker | replace: " ","" }} {{ page.title | replace: " ","" }}'>
        <a href="{{ site.baseurl }}{{ page.url }}">
            <img src="/assets/images/{{ page.maker | replace: " ", "_" }}/{{ page.image }}" width='300' />
        </a>
    <section class='info'>
        <h1><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></h1>
        <ul>
            <li><strong>maker:</strong> {{ page.maker }}</li>
            <li><strong>color:</strong> {{ page.color }}</li>
            <li><strong>price:</strong> {{ page.price }}</li>
        </ul>
        {% include paypal_add_to_cart.html %}
        <div class="fb-like" data-href="{{ site.baseurl }}{{ page.url }}" data-width="" data-layout="box_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
    </section>
</article>
{% include footer.html %}
